/*Header e Navbar*/
#header{
    border-bottom: solid 1px rgb(0, 0, 0);
    padding: 20px;
}

#logo-container{
    display: flex;
    justify-content: center;
}

#navbar{
    width: 100%;
}

#navbar .navbar-collapse{
    width: auto;
}

#navbar .nav-link{
  text-transform:uppercase;
  font-weight: 500;
  padding-left: 0;
  padding-right: 0;
  margin-left: 15px ;
  margin-right: 15px;
  color: #991717;
  border-bottom: solid 3px transparent;
}

#navbar .nav-link:hover{
    border-bottom: solid 3px var(--secondary);
    color: var(--secondary);
}

/*Carousel*/
.container-slide{
    padding: 0;
}

.carousel-caption{
    bottom: 1em;
    right: 12%;
    left: 12%;
    padding: 1em;
}

.carousel-caption h5{
    font-size: 1.8em;
}


/*Mini Banners*/
#mini-banners{
    margin-top: -3em;
    z-index: 10;
}

#mini-banners .col-12{
    z-index: 1;
    height: 300px;
    padding: 1.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#mini-banners .col-12 img{
    height: 220px;;
    position: absolute;
    right: 1em;
    bottom: 1em;
    justify-content: space-between;
}


/*Footer*/

#footer{
    background-color: #991717;
    color: white;
}






