h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

body, html{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

.title{
    text-transform: uppercase;
}

.subtitle{
    color: var(--medium);
}

.btn-primary{
    background-color: var(--primary);
    border: none;
}
.btn-primary:hover{
    background-color: var(--primary);
    border: none;
}
.primary-bg-color{
    background-color: #991717;
}