@media (min-width: 992px) { 
    #header .navbar-collapse{
        width: 100%;
    }
}

@media (min-width: 992px) { 
    #container-create{
        width: 50%;
    }
}

@media (min-width: 768px) { 
    #slider .carousel-item,
    #slider img{
        height: 600px;
    }

    .carousel-caption{
        left: 23%;
        right: 23%;
    }
}

@media (min-width: 768px) { 
    #mini-banners{
        max-width: 30%;
    }   
}